@model ViewModel_Prepay
@{
    ViewData["Title"] = "confirmation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    NormalUtility utility = new NormalUtility();
}
<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <ul class="breadcrumb breadcrumb-style ">
                    <li class="breadcrumb-item">
                        <h4 class="page-title">Reservation</h4>
                    </li>
                    <li class="breadcrumb-item bcrumb-1">
                        <a href="/Reservation/">
                            <i class="fas fa-home"></i> Reservation
                        </a>
                    </li>
                    <li class="breadcrumb-item bcrumb-2">
                        <a href="javascript:void(0);">Booking Form</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card" style="padding:20px;">
                            @if (TempData["Style"] != null)
                            {
                                <div class="@TempData["Style"]">
                                    @TempData["Message"]
                                </div>
                            }
                            <h3 class="heading-title"><span>Traveller Information</span></h3>

                            <ul class="confirmation-list">
                                <li class="clearfix">
                                    <span class="font-weight-bold">full name:</span>
                                    <span>@Model.Fullname</span>
                                </li>
                                <li class="clearfix">
                                    <span class="font-weight-bold">Mobile:</span>
                                    <span>@Model.Mobile</span>
                                </li>
                                <li class="clearfix">
                                    <span class="font-weight-bold">E-mail:</span>
                                    <span>@Model.Email</span>
                                </li>
                                @if (ViewBag.AdultName != null)
                                {
                                    <li class="clearfix">
                                        <span class="font-weight-bold">Adult Name:</span>
                                        <span>@ViewBag.AdultName</span>
                                    </li>
                                }
                                @if (ViewBag.Childname != null)
                                {
                                    <li class="clearfix">
                                        <span class="font-weight-bold">Child Name:</span>
                                        <span>@ViewBag.Childname</span>
                                    </li>
                                }
                                @if (ViewBag.Child2name != null)
                                {
                                    <li class="clearfix">
                                        <span class="font-weight-bold">Child (2-7):</span>
                                        <span>@ViewBag.Child2name</span>
                                    </li>
                                }
                                @if (ViewBag.Child7name != null)
                                {
                                    <li class="clearfix">
                                        <span class="font-weight-bold">Childe(7-12):</span>
                                        <span>@ViewBag.Child7name</span>
                                    </li>
                                }
                                @if (ViewBag.student != null)
                                {
                                    <li class="clearfix">
                                        <span class="font-weight-bold">Studetn or retirs:</span>
                                        <span>@ViewBag.student</span>
                                    </li>
                                }
                                <li class="clearfix">
                                    <span class="font-weight-bold">passenger count:</span>
                                    <span>@Model.sumcount</span>
                                </li>
                                <li class="clearfix">
                                    <span class="font-weight-bold">date:</span>
                                    <span>@Model.tripDate</span>
                                </li>
                                @if (ViewBag.backdate != null)
                                {
                                    <li class="clearfix">
                                        <span class="font-weight-bold">back date:</span>
                                        <span>@ViewBag.backdate</span>
                                    </li>
                                }

                            </ul>

                            <div class="mb-40"></div>

                            <h3 class="heading-title"><span>Payment</span></h3>
                            <ul class="confirmation-list">
                                @if (Model.adultcount > 0)
                                {
                                    <li class="clearfix">
                                        <span class="font-weight-bold">Adult:</span>
                                        <span>@Model.adultcount</span>
                                    </li>
                                }
                                @if (Model.childcount > 0)
                                {
                                    <li class="clearfix">
                                        <span class="font-weight-bold">child:</span>
                                        <span>@Model.childcount &nbsp; (100%) </span>
                                    </li>
                                }
                                @if (Model.child2count > 0)
                                {
                                    <li class="clearfix">
                                        <span class="font-weight-bold">child(2-7):</span>
                                        <span>@Model.child2count &nbsp; (50%) </span>
                                    </li>
                                }
                                @if (Model.child7count > 0)
                                {
                                    <li class="clearfix">
                                        <span class="font-weight-bold">child(7-12):</span>
                                        <span>@Model.child7count &nbsp; (30%) </span>
                                    </li>
                                }
                                @if (Model.studentCount > 0)
                                {
                                    <li class="clearfix">
                                        <span class="font-weight-bold">Student:</span>
                                        <span>@Model.studentCount &nbsp; (10%) </span>
                                    </li>
                                }
                                <li class="clearfix">
                                    <span class="font-weight-bold">Total Price:</span>
                                    <span>@Model.sumprice</span>
                                </li>
                            </ul>

                            @*<div class="clear"></div>

                            <h3 class="heading-title"><span>Other Information</span></h3>

                            <div class="clear"></div>

                            <p>Up branch to easily missed by do. Admiration considered acceptance too led one melancholy expression. Are will took form the nor true. Winding enjoyed minuter her letters evident use eat colonel. He attacks observe mr cottage inquiry am examine gravity. Are dear but near left was. Year kept on over so as this of.</p>

                            <p class="text-uppercase text-secondary font600">Year kept on over so as this of.</p>*@
                        <form asp-action="AddReservation" asp-controller="Reservation" method="post">
                            <input type="hidden" value="@Model.Mobile" name="model[Mobile]" />
                            <input type="hidden" value="@Model.Email" name="model[Email]" />
                            <input type="hidden" value="@Model.Fullname" name="model[Fullname]" />
                            <input type="hidden" value="@utility.StringArrayToString(Model.adult)" name="adult" />
                            <input type="hidden" value="@Model.adultcount" name="model[adultcount]" />
                            <input type="hidden" value="@utility.StringArrayToString(Model.child)" name="child" />
                            <input type="hidden" value="@Model.childcount" name="model[childcount]" />
                            <input type="hidden" value="@utility.StringArrayToString(Model.Child2)" name="Child2" />
                            <input type="hidden" value="@Model.child2count" name="model[child2count]" />
                            <input type="hidden" value="@utility.StringArrayToString(Model.child7)" name="child7" />
                            <input type="hidden" value="@Model.child7count" name="model[child7count]" />
                            <input type="hidden" value="@utility.StringArrayToString(Model.student)" name="student" />
                            <input type="hidden" value="@Model.studentCount" name="model[studentCount]" />
                            <input type="hidden" value="@Model.RoutId" name="model[RoutId]" />
                            <input type="hidden" value="@Model.tripDate" name="model[tripDate]" />
                            <input type="hidden" value="@Model.sumcount" name="model[sumcount]" />
                            <input type="hidden" value="@Model.sumprice" name="model[sumprice]" />
                            <input type="hidden" value="@ViewBag.backdate" name="backdate" />
                            <input type="hidden" value=@ViewBag.backwayRoutId name="backwayRoutId" />
                            <button type="submit" class="btn btn-primary mt-20">Confirm<i class="fa fa-long-arrow-right"></i></button>
                            <a href="/Reservation" class="btn">Back and New Reserv</a>
                        </form>
                        </div>
                     
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

