@model ViewModel_Search
@{
    ViewData["Title"] = "Pathway Reserv";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section Styles{
    <link href="~/assets/css/form.min.css" rel="stylesheet">
    <link href="~/css/StyleReservation.css" rel="stylesheet">
    <!-- Colorpicker Css -->
    <link href="~/assets/js/bundles/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.css" rel="stylesheet" />
    <!-- Multi Select Css -->
    <link href="~/assets/js/bundles/multiselect/css/multi-select.css" rel="stylesheet">
    <link href="~/css/datepicker.min.css" rel="stylesheet" />
}
<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <ul class="breadcrumb breadcrumb-style ">
                    <li class="breadcrumb-item">
                        <h4 class="page-title">Routes</h4>
                    </li>
                    <li class="breadcrumb-item bcrumb-1">
                        <a href="/Account/index">
                            <i class="fas fa-home"></i> Home
                        </a>
                    </li>
                    <li class="breadcrumb-item bcrumb-2">
                        <a href="javascript:void(0);">Manage Forms</a>
                    </li>
                    <li class="breadcrumb-item active">Manage Routes</li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row clearfix js-sweetalert">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style=" padding-left:0px;">
                        <div class="card">
                            <div class="boxs mail_listing">
                                <div class="inbox-center table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th colspan="1">
                                                    <div class="inbox-header">
                                                        Search in Available Routes
                                                    </div>
                                                </th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <form class="composeForm" asp-action="SearchRoutes" asp-controller="Reservation" onsubmit="return SumCount()">
                                            <input type="hidden" id="count" name="count" />
                                            <select id="FromCity" name="source" class="form-group col-12" placeholder="Subject" onchange="GetDestination()" required>
                                                @foreach (var item in Model.Countries)
                                                {
                                                    <optgroup label="@item.Name">
                                                        @foreach (var item2 in Model.cities.Where(a => a.Country_FG == item.Id))
                                                        {
                                                            <option value="@item2.Id">@item2.Name</option>
                                                        }
                                                    </optgroup>
                                                }
                                            </select>
                                            <select id="ToCity" name="dest" class="form-group col-12" placeholder="Subject" required></select>
                                            <input type="text" id="dateStart-flight" name="date" class="datepicker-here" data-position="right top" data-language='en' placeholder="dd/mm/yy" required>
                                            <div class=" row">
                                                <label class="col-4" style="padding-top:17px;">
                                                    <input type="checkbox" id="2way">
                                                    <span>2Way</span>
                                                </label>
                                                <input type="text" id="dateStart-flight2" name="backdate" class="datepicker-here col-8" data-position="right top" data-language='en' placeholder="dd/mm/yy" required style="display:none;">
                                            </div>
                                            <div class=" row">
                                                <span class="col-7" style="padding-top:20px;">adult:</span>
                                                <input type="number" name="adult" id="adult" class="form-control col-4" style="text-align:center;" min="0" value="0" placeholder="Enter adult Count">
                                            </div>
                                            <div class=" row">
                                                <span class="col-7" style="padding-top:20px;">retired:</span>
                                                <input type="number" name="retired" id="retired" class="form-control col-4" style="text-align:center;" min="0" value="0" placeholder="Enter adult Count">
                                            </div>
                                            <div class=" row">
                                                <span class="col-7" style="padding-top:20px;">student:</span>
                                                <input type="number" name="student" id="student" class="form-control col-4" style="text-align:center;" min="0" value="0" placeholder="Enter adult Count">
                                            </div>
                                            <div class=" row">
                                                <span class="col-7" style="padding-top:20px;">child:</span>
                                                <input type="number" name="child" id="child" class="form-control col-4" style="text-align:center;" min="0" value="0" placeholder="Enter adult Count">
                                            </div>
                                            <div class=" row">
                                                <span class="col-7" style="padding-top:20px;">child(2-7):</span>
                                                <input type="number" name="child2" id="child2" class="form-control col-4" style="text-align:center;" min="0" value="0" placeholder="Enter adult Count">
                                            </div>
                                            <div class=" row">
                                                <span class="col-7" style="padding-top:20px;">child(7-12):</span>
                                                <input type="number" name="child7" id="child7" class="form-control col-4" style="text-align:center;" min="0" value="0" placeholder="Enter adult Count">
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="m-l-25 m-b-20">
                                                    <button type="submit" class="btn btn-info btn-border-radius waves-effect">Search</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" style=" padding-left:0px;">
                        <div class="card">
                            @if (TempData["Style"] != null)
                            {
                                <div class="@TempData[" Style"]">
                                    @TempData["Message"]
                                </div>
                            }
                            <div class="header">
                                <h2 class="co-md-6 col-lg-6">
                                    <strong>Active Routes</strong>
                                </h2>
                            </div>
                            <!--for active path-->
                            <div class="body table-responsive" id="tableContainer">
                                <table class="table table-bordered table-striped table-hover js-basic-example dataTable" style="text-align:center;font-size:13px;">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Route</th>
                                            <th>Departure</th>
                                            <th>arrive</th>
                                            <th>Price one way</th>
                                            <th>Price two way</th>
                                        </tr>
                                    </thead>
                                    @if (Model.PathWays.Any())
                                    {
                                        int count = 1;

                                        <tbody>
                                            @foreach (var item in Model.PathWays)
                                            {

                                                <tr id="@item.id-R">
                                                    <th scope="row">@(count++)</th>
                                                    <td>@item.GetSourceName-@item.GetDestinationName</td>
                                                    <td>@item.DepartureDays-@item.DepartureTime</td>
                                                    <td>@item.ArriveDays-@item.ArriveTime</td>
                                                    <td>@item.Price $ - @item.Price2 € </td>
                                                    <td>@item.twoWayPrice $ - @item.twoWayPrice2 €</td>
                                                </tr>
                                            }

                                        </tbody>
                                    }

                                </table>
                            </div>
                            <div class="preloader pl-size-xl" id="preloader" style="display:none;margin-left:48%;">
                                <div class="spinner-layer pl-teal">
                                    <div class="circle-clipper left">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="circle-clipper right">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Your content goes here  -->
        </div>
    </div>
</div>
<div id="ModalShow">
    <div class="modal fade" id="reserv" tabindex="-1" role="dialog" aria-labelledby="exampleModalGrid"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="formModal">Reserv Form</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modalContent">
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
    {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/assets/js/table.min.js"></script>
    <script src="~/assets/js/pages/tables/jquery-datatable.js"></script>
    <script src="~/assets/js/form.min.js"></script>
    <script src="~/assets/js/pages/forms/basic-form-elements.js"></script>
    <script src="~/assets/js/bundles/multiselect/js/jquery.multi-select.js"></script>
    <script src="~/assets/js/bundles/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.js"></script>
    <script src="~/assets/js/pages/forms/advanced-form-elements.js"></script>
    <script src="~/js/datepicker.min.js"></script>
    <script src="~/js/datepicker.en.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $("#2way").click(function () {
                var ToCityId = $('#ToCity').val();
                if ($("#2way").prop("checked") && ToCityId != null) {
                    if (ToCityId != null) {
                        $.ajax({
                            url: "/Routes/GetDeparture/",
                            data: { id: ToCityId },
                            type: "Get",
                            cache: false,
                            success: function (data) {
                                GetEnableDayFor2Way(data);
                            }
                        });
                    }
                    $("#dateStart-flight2").show();
                } else {
                    $("#dateStart-flight2").hide();
                }
            });
        });
        function SumCount() {
            var countadult = parseInt($('#adult').val());
            var countbaybe = parseInt($('#child').val());
            var countbaybe2 = parseInt($('#child2').val());
            var countbaybe7 = parseInt($('#child7').val());
            var student = parseInt($('#student').val());
            var retired = parseInt($('#retired').val());
            var count = countadult + countbaybe + countbaybe2 + countbaybe7 + student + retired;
            $('#count').val(count);
            $('#student').val(student + retired);
            if (count == 0) {
                return false;
            }
            if ($("#2way").prop("checked") && $("#dateStart-flight2").val() == null || $("#dateStart-flight2").val() == '') {
                return false;
            }
            return true;

        }
        function openReservForm(id) {
            $.ajax({
                url: "/Reservation/ReservForm/" + id,
                type: "Get",
                AllowCache: false
            }).done(function (res) {
                // $("#modalContent").empty();
                $("#modalContent").append(res);
                $('#reserv').modal('show');
                $('#SumCount').text(0);
                $('#SumPrice').text(0.0);
            });

        }
        function GetDestination() {
            var id = $('#FromCity').val();
            $('#ToCity').empty();
            $.ajax({
                url: "/Routes/GetDestination/",
                data: { id: id },
                type: "Get",
                cache: false,
                success: function (data) {
                    console.log(data);
                    $('#ToCity').append(data);
                    $('#ToCity').formSelect(); //this css fram work is material select and i must this code for append options to this
                }
            });
            $.ajax({
                url: "/Routes/GetDeparture/",
                data: { id: id },
                type: "Get",
                cache: false,
                success: function (data) {
                    GetEnableDay(data);
                }
            });
        }
        function GetEnableDay(days) {
            var DaysWeek = [0, 1, 2, 3, 4, 5, 6]
            var disabledDays = [];
            // Make  disabled day by array in below
            var enabldays = days.split(',').map(Number); // map for convert string number to int number
            // enabldays = enabldays.map(function (val) { return --val; });
            enabldays.forEach(function (item, i) { if (item == 7) enabldays[i] = 0; }); // beacouse days week start from 0to 6 replace 7 to 0
            console.log(enabldays);
            jQuery.grep(DaysWeek, function (el) {
                if (jQuery.inArray(el, enabldays) == -1) disabledDays.push(el);
            });
            $('#dateStart-flight').datepicker({
                autoClose: true,
                minDate: new Date(),
                onRenderCell: function (date, cellType) {
                    if (cellType == 'day') {
                        var day = date.getDay(),
                            isDisabled = disabledDays.indexOf(day) != -1;
                        return {
                            disabled: isDisabled
                        }
                    }
                }
            });
        }
        function GetEnableDayFor2Way(days) {
            var DaysWeek = [0, 1, 2, 3, 4, 5, 6]
            var disabledDays = [];
            // Make  disabled day by array in below
            var enabldays = days.split(',').map(Number); // map for convert string number to int number
            // enabldays = enabldays.map(function (val) { return --val; });
            enabldays.forEach(function (item, i) { if (item == 7) enabldays[i] = 0; }); // beacouse days week start from 0to 6 replace 7 to 0
            console.log(enabldays);
            jQuery.grep(DaysWeek, function (el) {
                if (jQuery.inArray(el, enabldays) == -1) disabledDays.push(el);
            });
            $('#dateStart-flight2').datepicker({
                autoClose: true,
                minDate: new Date(),
                onRenderCell: function (date, cellType) {
                    if (cellType == 'day') {
                        var day = date.getDay(),
                            isDisabled = disabledDays.indexOf(day) != -1;
                        return {
                            disabled: isDisabled
                        }
                    }
                }
            });
        }
    </script>
}

