@model List<ViewModel_PathWay>
<div class="colmd-6">
    <h4 style="color:orangered;margin-left:20px;margin-top:10px;">Deactive Routes</h4>
</div>
<div class="body table-responsive">
    <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
        <thead>
            <tr>
                <th>#</th>
                <th>Source</th>
                <th>Destination</th>
                <th>start Time</th>
                <th>arrive Time</th>
                <th>Price For Adult</th>
                <th>Price For Baby</th>
                <th>Action</th>
            </tr>
        </thead>
        @if (Model.Any())
        {
            int count = 1;

            <tbody>
                @foreach (var item in Model.Where(a => a.Status == "Deactive"))
                {

                    <tr id="@item.id-R">
                        <th scope="row">@(count++)</th>
                        <td>@item.GetSourceName</td>
                        <td>@item.GetDestinationName</td>
                        <td>@item.StartDate</td>
                        <td>@item.ArrivalDate</td>
                        <td>@item.PriceForAdultUro € - @item.PriceForAdultDollar $ </td>
                        <td>@item.PriceForBabyUro € - @item.PriceForBabyDollar $</td>

                        <td>
                            <a href="/PathWay/Edit/@item.id" class="btn tblActnBtn">
                                <i class="material-icons">mode_edit</i>
                            </a>

                            <a id="@item.id" class="btn tblActnBtn" onclick="showConfirmMessage(this)">
                                <i class="material-icons">delete</i>
                            </a>
                        </td>

                    </tr>
                }

            </tbody>
        }

    </table>
</div>