@model  List<Tbl_Contact>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <ul class="breadcrumb breadcrumb-style ">
                    <li class="breadcrumb-item">
                        <h4 class="page-title">Contact Us</h4>
                    </li>
                    <li class="breadcrumb-item bcrumb-1">
                        <a href="/ContactUs">
                            <i class="fas fa-home"></i> Contact Us Messages
                        </a>
                    </li>
                    <li class="breadcrumb-item bcrumb-2">
                        <a href="javascript:void(0);">Manage Messeges</a>
                    </li>
                    <li class="breadcrumb-item active">Messages</li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row clearfix js-sweetalert">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            @if (TempData["Style"] != null)
                            {
                                <div class="@TempData["Style"]">
                                    @TempData["Message"]
                                </div>
                            }
                            <div class="header">
                                <h2 class="co-md-6 col-lg-6">
                                    <strong>Users Messages</strong>
                                </h2>
                            </div>
                            <div class="body table-responsive">
                                <table class="table table-bordered table-striped table-hover js-basic-example dataTable" style="text-align:center;">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>title</th>
                                            <th>Email</th>
                                            <th>Mobile</th>
                                            <th>text</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    @if (Model.Any())
                                    {
                                        int count = 1;

                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr id="@item.id-R">
                                                    <th scope="row">@(count++)</th>
                                                    <td>@item.Subject</td>
                                                    <td>@item.Email</td>
                                                    <td>@item.Phone</td>
                                                    <td>@item.Text</td>
                                                    <td>
                                                        <a id="@item.id" class="btn tblActnBtn" onclick="showConfirmMessage(this)">
                                                            <i class="material-icons">delete</i>
                                                        </a>
                                                    </td>

                                                </tr>
                                            }

                                        </tbody>
                                    }

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Your content goes here  -->
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/assets/js/table.min.js"></script>
    <script src="~/assets/js/pages/tables/jquery-datatable.js"></script>
    <script>
        function Delete(id) {
            var id = id;
            $.post("@Url.Action("Delete", "ContactUs")",
                {
                    id: id
                },
                function (data) {
                    if (data == 0) {
                        swal("Not Deleted!", "this record has not been deleted.", "error");
                    }
                    if (data == 1) {
                        swal("Deleted!", "this record has been deleted.", "success");
                        $('#' + id +'-R').hide();
                    }

                });

        }

        function showConfirmMessage(input) {
            swal({
                title: "Are you sure?",
                text: "You will not be able to recover this record",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: false
            }, function () {
                var id = input.getAttribute('id');
                Delete(id);
            });
        }
    </script>
}
