@model ViewModel_BookDetail
@{
    ViewData["Title"] = "book";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-wrapper page-payment bg-light">

    <div class="container">

        <div class="row gap-30">

            <div class="col-12 col-lg-4 order-lg-last">

                <aside class="sticky-kit sidebar-wrapper" style="">

                    <a href="#" class="product-small-item">
                        <div class="image">
                            <img src="~/Files/Images/Citis/@Model.DestImage" alt="image">
                        </div>
                        <div class="content">
                            <div class="content-body">
                                <h6>@Model.SourceName To @Model.DestName</h6>
                                <span class="meta text-muted"><br /></span>
                            </div>
                            <div class="price">
                                <br /> <span class="text-secondary font700"></span>
                            </div>
                        </div>
                    </a>

                    <div class="clear"></div>

                    <div class="booking-selection-box">

                        <div class="content">

                            <ul class="booking-amount-list clearfix mb-20">
                                <li>
                                    @Model.Start.ToString("dd-MM-yyyy")<span class="font700">@Model.Start.ToString("dddd")</span>@Model.Start.ToString("HH:mm")
                                </li>
                                <li class="text-right">
                                    @Model.End.ToString("dd-MM-yyyy")<span class="font700">@Model.End.ToString("dddd")</span>@Model.End.ToString("HH:mm")
                                </li>
                            </ul>
                            <h5 class="font-serif font400">Price</h5>
                            <ul class="summary-price-list">
                                <li>Price For Adult<span class="absolute-right">$@Model.PriceForAdult</span></li>
                                <li>Price For Child<span class="absolute-right">$@Model.PriceForBaybe</span></li>
                                <li>taxes and fees <span class="absolute-right">$26.36</span></li>
                            </ul>

                        </div>

                    </div>

                </aside>

            </div>

            <div class="col-12 col-lg-8">

                <div class="content-wrapper">

                    <div class="success-box">

                        <div class="icon">

                            <span><i class="ri ri-check-square"></i></span>

                        </div>

                        <div class="content">
                            <h4>Great choice! You’re just 1 minute away from booking. </h4>

                        </div>

                    </div>

                    <form class="payment-form-wrapper">

                        <h3 class="heading-title"><span>Billing Information</span></h3>
                        <p class="post-heading">Two before narrow not relied how except moment myself.</p>

                        <div class="bg-white-shadow pt-25 ph-30">
                            <div class="row gap-20 mb-0">

                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>First name <span class="font12 text-danger">*</span></label>
                                        <input type="text" class="form-control form-bg-light">
                                    </div>
                                </div>

                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Last name <span class="font12 text-danger">*</span></label>
                                        <input type="text" class="form-control form-bg-light">
                                    </div>
                                </div>

                                <div class="col-12 col-sm-12">
                                    <div class="form-group">
                                        <label>Company name</label>
                                        <input type="text" class="form-control form-bg-light">
                                    </div>
                                </div>

                                <div class="col-12 col-sm-12">
                                    <div class="form-group">
                                        <label>Street <span class="font12 text-danger">*</span></label>
                                        <input type="text" class="form-control form-bg-light">
                                        <input type="text" class="form-control form-bg-light mt-5">
                                    </div>
                                </div>

                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>City <span class="font12 text-danger">*</span></label>
                                        <input type="text" class="form-control form-bg-light">
                                    </div>
                                </div>

                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>State <span class="font12 text-danger">*</span></label>
                                        <input type="text" class="form-control form-bg-light">
                                    </div>
                                </div>

                                <div class="col-12 col-sm-5">
                                    <div class="form-group">
                                        <label>Zip code <span class="font12 text-danger">*</span></label>
                                        <input type="text" class="form-control form-bg-light">
                                    </div>
                                </div>

                                <div class="col-12 col-sm-7">
                                    <div class="form-group chosen-bg-light">
                                        <label>Country <span class="font12 text-danger">*</span></label>
                                        <select data-placeholder="Country" class="chosen-the-basic form-control" tabindex="-1" style="display: none;">
                                            <option value=""></option>
                                            <option value="0">Thailand</option>
                                            <option value="1">Malaysia</option>
                                            <option value="2">Indonesia</option>
                                            <option value="3">Japan</option>
                                        </select><div class="chosen-container chosen-container-single chosen-container-single-nosearch" title="" style="width: 383px;">
                                            <a class="chosen-single chosen-default">
                                                <span>Country</span>
                                                <div><b></b></div>
                                            </a>
                                            <div class="chosen-drop">
                                                <div class="chosen-search">
                                                    <input class="chosen-search-input" type="text" autocomplete="off" readonly="" tabindex="2">
                                                </div>
                                                <ul class="chosen-results"><li class="active-result" data-option-array-index="1">Thailand</li><li class="active-result" data-option-array-index="2">Malaysia</li><li class="active-result" data-option-array-index="3">Indonesia</li><li class="active-result" data-option-array-index="4">Japan</li></ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Phone <span class="font12 text-danger">*</span></label>
                                        <input type="text" class="form-control form-bg-light">
                                    </div>
                                </div>

                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Email <span class="font12 text-danger">*</span></label>
                                        <input type="text" class="form-control form-bg-light">
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="mb-20"></div>
                        <!--
                                                            <div class="create-account">

                                                                <div class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input" id="createAccountCheckBox">
                                                                    <label class="custom-control-label" for="createAccountCheckBox">Create an account?</label>

                                                                    <div class="form-create-show bg-box-border-primary pt-25 ph-30 mt-15">
                                                                        <div class="row gap-20 mb-0">
                                                                            <div class="col-12 col-sm-12 col-md-4">
                                                                                <div class="form-group">
                                                                                    <label>Username</label>
                                                                                    <input type="text" class="form-control" />
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-12 col-sm-12 col-md-4">
                                                                                <div class="form-group">
                                                                                    <label>Password</label>
                                                                                    <input type="text" class="form-control" />
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-12 col-sm-12 col-md-4">
                                                                                <div class="form-group">
                                                                                    <label>Confirm password</label>
                                                                                    <input type="text" class="form-control" />
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                        -->

                        <div class="mb-40"></div>



                        <div class="mb-40"></div>
                        <a href="#" class="btn btn-primary mt-20">Book now <i class="fa fa-long-arrow-right"></i></a>

                    </form>



                </div>

            </div>

        </div>

        <div class="fullwidth-horizon-sticky border-0"> </div>
        <!-- is used to stop the above stick menu -->

    </div>

</div>
@section Scripts{
    <script src="~/js/currency.js"></script>
}